<template>
  <el-container>
    <el-header>
      <dashboard-menu @signOut="signOut" />
    </el-header>
    <el-main>
      <nuxt/>
    </el-main>
  </el-container>
</template>

<script>
import dashboardMenu from '~/components/dashboard-menu';

export default {
  middleware: 'authenticated',
  components: {
    'dashboard-menu': dashboardMenu,
  },
  methods: {
    signOut() {
      this.$store.dispatch('signOut');
      this.$router.replace({ path: '/sign-in' });
    },
  },
};
</script>
