<template>
  <div class="data-container">
    <div>
      <template v-if="selectedAccount.id || isNewAccount">
        <h2
          v-if="isNewAccount"
          class="form-title h2">{{ $t('accounts.create-title') }}</h2>
        <h2
          v-else
          class="form-title h2">{{ $t('accounts.edit-title') }}</h2>
        <accounts-form
          :account="selectedAccount"
          :is-new="isNewAccount"
          :currency-list="currencyList"
          @createAccount="onCreateAccountProcess"
          @updateAccount="onUpdateAccountProcess"
          @removeAccount="onRemoveAccountProcess"/>
      </template>
      <template v-else-if="!isNewAccount">
        <el-alert
          :title="$t('accounts.not-selected')"
          :closable="false"
          type="info"/>
      </template>
    </div>
    <accounts
      :balances="balances"
      :base-currency="baseCurrency"
      :selectable="true"
      :display-totals="false"
      :display-create-button="true"
      :manage-button="false"
      :selected-account="selectedAccount"
      class="accounts"
      @selectAccount="onSelectAccount"
      @createAccount="onCreateAccount"
    />
  </div>
</template>

<script>
import accounts from '~/components/accounts';
import accountsForm from '~/components/accounts-form';

export default {
  layout: 'dashboard',
  components: {
    accounts,
    accountsForm,
  },
  data() {
    return {
      selectedAccount: {},
      isNewAccount: false,
    };
  },
  computed: {
    balances() {
      return this.$store.state.balances.balances;
    },
    accounts() {
      return this.$store.getters['balances/accounts'];
    },
    currencyList() {
      return this.$store.getters.currencyList;
    },
    baseCurrency() {
      return this.$store.state.user.profile.baseCurrency;
    },
  },
  methods: {
    onSelectAccount(accountId) {
      this.selectedAccount = this.accounts.find(({ id }) => id === accountId) || {};
      this.isNewAccount = false;
    },
    onCreateAccount() {
      this.selectedAccount = {};
      this.isNewAccount = true;
    },
    async onCreateAccountProcess(accountData) {
      const accountId = await this.$store.dispatch('balances/createAccount', accountData);
      this.onSelectAccount(accountId);
    },
    onUpdateAccountProcess(accountData) {
      this.$store.dispatch('balances/updateAccount', accountData);
    },
    async onRemoveAccountProcess(accountId) {
      await this.$store.dispatch('balances/removeAccount', accountId);
      this.selectedAccount = {};
    },
  },
};
</script>

<style scoped>
  .data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    justify-content: center;
  }

  .form-title {
    text-align: center;
    margin-bottom: 15px;
    line-height: 50px;
  }

  .accounts {
    width: 350px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-left: 25px;
  }
</style>
