<template>
  <div class="data-container">
    <div class="entries">

      <entries
        :entries="entries"
        :load-more="loadMore" />
    </div>
    <accounts
      :balances="balances"
      :total="total"
      :base-currency="baseCurrency"
      :calculate-negative = "calculateNegative"
      class="accounts"
      @changeCalculation="onChangeCalculation"
      @manageAccounts="onManageAccounts"
    />
  </div>
</template>

<script>
import accounts from '~/components/accounts';
import entries from '~/components/entries';
import entryForm from '~/components/entry-form';

export default {
  layout: 'dashboard',
  components: {
    accounts,
    entries,
    'entry-form': entryForm,
  },
  fetch({ store }) {
    return Promise.all([
      store.dispatch('entries/load'),
    ]);
  },
  computed: {
    balances() {
      return this.$store.state.balances.balances;
    },
    total() {
      return this.$store.state.balances.total;
    },
    baseCurrency() {
      return this.$store.state.user.profile.baseCurrency;
    },
    calculateNegative() {
      return this.$store.getters.uiSettings('calculateNegative');
    },
    entries() {
      return this.$store.state.entries.entries;
    },
  },
  methods: {
    loadMore() {

    },
    onManageAccounts() {
      this.$router.push(`${this.$router.currentRoute.path}/accounts`);
    },
    async onChangeCalculation(value) {
      await this.$store.dispatch('updateUiSettings', {
        calculateNegative: value,
      });
    },
  },
};
</script>

<style scoped>
  .data-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: stretch;
  }

  .entries {
    order: 0;
    flex: 1 1 auto;
    align-self: auto;
  }

  .accounts {
    width: 350px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    margin-left: 25px;
  }
</style>
