<template>
  <div>
    <nuxt-link
      v-for="locale in $i18n.locales"
      v-if="locale.code !== $i18n.locale"
      :key="locale.code"
      :to="switchLocalePath(locale.code)">{{ locale.name }}</nuxt-link>
    <ul>
      <li
        v-for="entry in entries"
        :key="entry.id">{{ entry.id }}</li>
    </ul>
    <h3>{{ $t('signIn.title') }}</h3>
  </div>
</template>

<script>
import entries from '~/apollo/queries/entries';

export default {
  apollo: {
    entries: {
      prefetch: true,
      query: entries,
    },
  },
};
</script>
