<template>
  <el-row :gutter="20">
    <el-col
      :span="12"
      :offset="6">
      <el-card class="box-card">
        <div
          slot="header"
          class="clearfix">
          <span>{{ $t('signIn.title') }}</span>
        </div>
        <el-form
          ref="registerForm"
          :model="registerForm"
          status-icon
          label-width="120px">
          <el-form-item
            label="Email"
            prop="email">
            <el-input
              v-model="registerForm.email"
              type="email"/>
          </el-form-item>
          <el-form-item
            label="Password"
            prop="password">
            <el-input
              v-model="registerForm.password"
              type="password"
              auto-complete="off"/>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm('registerForm')">Submit</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  middleware: 'not-authenticated',
  data() {
    return {
      registerForm: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async submitForm() {
      await this.$store.dispatch('register', {
        email: this.registerForm.email,
        password: this.registerForm.password,
      });

      this.$router.replace({ path: '/dashboard' });
    },
  },
};
</script>
