<template>
  <el-row :gutter="20">
    <el-col
      :span="12"
      :offset="6">
      <el-card class="box-card">
        <div
          slot="header"
          class="clearfix">
          <span>{{ $t('signIn.title') }}</span>
        </div>
        <el-form
          ref="signInForm"
          :model="signInForm"
          status-icon
          label-width="120px">
          <el-form-item
            label="Email"
            prop="email">
            <el-input
              v-model="signInForm.email"
              type="email"/>
          </el-form-item>
          <el-form-item
            label="Password"
            prop="password">
            <el-input
              v-model="signInForm.password"
              type="password"
              auto-complete="off"/>
          </el-form-item>
          <el-form-item>
            <el-button
              type="primary"
              @click="submitForm('signInForm')">Submit</el-button>
            <el-button @click="resetForm('signInForm')">Reset</el-button>
          </el-form-item>
        </el-form>
      </el-card>
    </el-col>
  </el-row>
</template>

<script>
export default {
  middleware: 'not-authenticated',
  data() {
    return {
      signInForm: {
        email: '',
        password: '',
      },
    };
  },
  methods: {
    async submitForm() {
      await this.$store.dispatch('signIn', {
        email: this.signInForm.email,
        password: this.signInForm.password,
      });

      this.$router.replace({ path: '/dashboard' });
    },
    resetForm(formName) {
      this.$refs[formName].resetFields();
    },
  },
};
</script>
