html,
body {
  background-color: #fff;
  color: #2e2f30;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
  height: 100vh;
  margin: 0;
  font-weight: normal;
}

.logo {
  width: 243px;
  height: 218px;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-active {
  opacity: 0;
}
