<template>
  <el-card :body-style="{ padding: '0px' }">
    <div slot="header">
      <span>{{ $t('component.accounts.title') }}</span>
      <el-button
        v-if="manageButton"
        class="header-button"
        type="text"
        @click="onManageAccounts"
      >
        {{ $t('component.accounts.manage') }}
      </el-button>
      <el-button
        v-if="displayCreateButton"
        class="header-button"
        type="text"
        @click="onCreate()">{{ $t('component.accounts.add') }}</el-button>
    </div>
    <div
      v-if="balances.length"
      class="account-list">
      <div
        v-for="balance in balances"
        :class="[
          {
            selected: balance.account.id === selectedAccount.id,
            selectable
          },
          'account-list-item'
        ]"
        :key="balance.account.id"
        @click="onSelectAccount(balance.account.id)"
      >
        <div class="account-name">{{ balance.account.name }}</div>
        <div class="account-balance">
          <currency
            :amount="balance.balance"
            :symbol="balance.account.currency.symbol"
            :fraction-count="balance.account.currency.decimalDigits" />
        </div>
      </div>
    </div>
    <template v-else>
      <el-alert
        :title="$t('component.accounts.empty')"
        :closable="false"
        type="info" />
    </template>

    <template v-if="displayTotals">
      <div class="checkbox">
        <el-checkbox v-model="negativeCalculation">
          {{ $t('component.accounts.checkbox-label') }}
        </el-checkbox>
      </div>

      <div class="total-container">
        <div class="total-name">{{ $t('component.accounts.balance') }}</div>
        <currency
          :amount="total"
          :symbol="baseCurrency.symbol"
          :fraction-count="baseCurrency.decimalDigits"
          class="total-balance" />
      </div>
    </template>
  </el-card>
</template>

<script>
import currency from '~/components/currency';

export default {
  components: {
    currency,
  },
  props: {
    selectable: {
      type: Boolean,
      default: false,
    },
    selectedAccount: {
      type: Object,
      default() {
        return {};
      },
    },
    displayTotals: {
      type: Boolean,
      default: true,
    },
    displayCreateButton: {
      type: Boolean,
      default: false,
    },
    balances: {
      type: Array,
      default() {
        return [];
      },
    },
    total: {
      type: Number,
      default: 0,
    },
    baseCurrency: {
      type: Object,
      required: true,
    },
    manageButton: {
      type: Boolean,
      default: true,
    },
    calculateNegative: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    negativeCalculation: {
      get() {
        return this.calculateNegative;
      },
      set(value) {
        this.$emit('changeCalculation', value);
      },
    },
  },
  methods: {
    onManageAccounts() {
      this.$emit('manageAccounts');
    },
    onSelectAccount(...args) {
      this.$emit('selectAccount', ...args);
    },
    onCreate() {
      this.$emit('createAccount');
    },
  },
};
</script>

<style lang="postcss" scoped>
.header-button {
  float: right;
  padding: 3px 0;
}

.account-list-item {
  &.selectable:not(.selected) {
    color: #909399;
    cursor: pointer;

    &:hover {
      color: #000;
    }
  }

  &.selected {
    border-left: 2px solid #409eff;
    padding-left: 18px;
  }
}

.account-list-item,
.total-container {
  padding: 15px 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  line-height: 25px;
}

.account-name,
.account-balance,
.total-name,
.total-balance {
  flex: 0 1 auto;
  align-self: start;
  word-break: break-all;
}

.account-name,
.total-name {
  width: 60%;
  margin-right: 10px;
}

.checkbox {
  margin: 20px;
}
</style>
