<template>
  <el-form
    ref="accountsForm"
    :model="accountsForm"
    label-width="150px">
    <el-form-item :label="$t('component.accounts-form.account-name')">
      <el-input v-model="accountsForm.name"/>
    </el-form-item>
    <el-form-item :label="$t('component.accounts-form.account-currency')">
      <el-select
        v-model="accountsForm.currencyId"
        :placeholder="$t('component.accounts-form.select-currency')"
        class="currency-select">
        <el-option
          v-for="currency in currencyList"
          :label="currency.name"
          :value="currency.id"
          :key="currency.id" />
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-button
        type="primary"
        @click="onSubmit">
        <template v-if="isNew">{{ $t('component.accounts-form.create') }}</template>
        <template v-else>{{ $t('component.accounts-form.save') }}</template>
      </el-button>
      <el-button
        v-if="!isNew"
        type="danger"
        @click="onRemove">
        {{ $t('component.accounts-form.remove') }}
      </el-button>
    </el-form-item>
  </el-form>
</template>

<script>
import get from 'lodash/get';

export default {
  props: {
    account: {
      type: Object,
      required: true,
    },
    isNew: {
      type: Boolean,
      required: true,
    },
    currencyList: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      accountsForm: {
        name: this.account.name,
        currencyId: get(this, 'account.currency.id', ''),
      },
    };
  },
  watch: {
    account() {
      this.accountsForm.name = this.account.name;
      this.accountsForm.currencyId = get(this, 'account.currency.id', '');
    },
  },
  methods: {
    onSubmit() {
      const accountData = {
        name: this.accountsForm.name,
        currencyId: this.accountsForm.currencyId,
      };

      if (this.isNew) {
        this.$emit('createAccount', accountData);

        return;
      }

      this.$emit('updateAccount', { id: this.account.id, ...accountData });
    },

    onRemove() {
      const confirmMessage = this.$t('component.accounts-form.confirm-remove-message', {
        accountName: this.account.name,
      });

      const confirmTitle = this.$t('component.accounts-form.confirm-remove-title');

      this.$confirm(confirmMessage, confirmTitle, {
        confirmButtonText: this.$t('component.accounts-form.confirm-remove-yes'),
        cancelButtonText: this.$t('component.accounts-form.confirm-remove-cancel'),
      }).then(() => {
        this.$emit('removeAccount', { id: this.account.id });
      }, () => {});
    },
  },
};
</script>

<style scoped>
  .currency-select {
    width: 250px;
  }
</style>
