<template>
  <span :class="color">
    {{ amount | currency(
    symbol, thousandsSeparator, fractionCount, fractionSeparator, symbolPosition, symbolSpacing) }}
  </span>
</template>

<script>
export default {
  props: {
    amount: {
      type: Number,
      default: 0,
    },
    symbol: {
      type: String,
      default: '$',
    },
    thousandsSeparator: {
      type: String,
      default: '.',
    },
    fractionCount: {
      type: Number,
      default: 2,
    },
    fractionSeparator: {
      type: String,
      default: ',',
    },
    symbolPosition: {
      type: String,
      default: 'back',
    },
    symbolSpacing: {
      type: Boolean,
      default: true,
    },
  },
  computed: {
    color() {
      return {
        negative: Number(this.amount) < 0,
      };
    },
  },
};
</script>

<style scoped>
.negative {
  color: red;
}
</style>
