<template>
  <el-menu
    :default-active="$route.path"
    mode="horizontal"
    router>
    <el-menu-item :index="routeRoot">{{ $t('component.dashboard-menu.operations') }}</el-menu-item>
    <el-menu-item :index="`${routeRoot}/budget`">
      {{ $t('component.dashboard-menu.budget') }}
    </el-menu-item>
    <el-menu-item :index="`${routeRoot}/reports`">
      {{ $t('component.dashboard-menu.reports') }}
    </el-menu-item>
    <el-submenu
      :index="`${routeRoot}/more`"
      :show-timeout="0">
      <template slot="title">{{ $t('component.dashboard-menu.more') }}</template>
      <el-menu-item :index="`${routeRoot}/categories`">
        {{ $t('component.dashboard-menu.categories') }}
      </el-menu-item>
      <el-menu-item :index="`${routeRoot}/accounts`">
        {{ $t('component.dashboard-menu.accounts') }}
      </el-menu-item>
    </el-submenu>
    <el-menu-item
      :index="`${routeRoot}/logout`"
      style="float: right;"
      @click="signOut">{{ $t('component.dashboard-menu.logout') }}</el-menu-item>
    <el-menu-item
      :index="`${routeRoot}/profile`"
      style="float: right;">{{ $t('component.dashboard-menu.profile') }}</el-menu-item>
  </el-menu>
</template>

<script>
export default {
  props: {
    routeRoot: {
      type: String,
      default: '/dashboard',
    },
  },
  methods: {
    signOut() {
      this.$emit('signOut');
    },
  },
};
</script>
