<template>
  <div>
    <template v-if="entries.length">
      <virtual-scroller
        :items="entries"
        page-mode
        class="scroller"
        item-height="70"
        content-tag="ul">
        <template slot-scope="props">
          <entry-item :entry="props.item" />
        </template>
      </virtual-scroller>
    </template>
    <template v-else>
      <el-alert
        :title="$t('component.entries.empty')"
        :closable="false"
        type="info"/>
    </template>
  </div>
</template>

<script>
import entryItem from '~/components/entry-item';

export default {
  components: {
    'entry-item': entryItem,
  },
  props: {
    entries: {
      type: Array,
      default() {
        return [];
      },
    },
    loadMore: {
      type: Function,
      required: true,
    },
  },
};
</script>
