<template>
  <li class="entry">
    {{ entry.id }} {{ entry.fromAccount.name }}
  </li>
</template>

<script>
export default {
  props: {
    entry: {
      type: Object,
      required: true,
    },
  },
};
</script>

<style lang="postcss" scoped>
  .entry {
    height: 70px;
  }
</style>
