<template>
  <el-form
    ref="expenseForm"
    :model="expenseForm"
    label-width="120px">
    <el-form-item label="Activity zone">
      <el-select
        v-model="expenseForm.accountId"
        placeholder="please select your zone">
        <el-option
          v-for="balance in balances"
          :key="balance.account.id"
          :label="balance.account.name"
          :value="balance.account.id" />
      </el-select>
    </el-form-item>
    <el-form-item>
      <el-cascader
        v-model="expenseForm.categoryId"
        :options="options"
        placeholder="Try searching: Guide"
        filterable
        change-on-select />
    </el-form-item>
    <el-form-item>
      <el-input
        v-model="expenseForm.amount"
        placeholder="Please input" />
    </el-form-item>
    <el-form-item>
      <el-input
        :rows="2"
        v-model="expenseForm.description"
        type="textarea"
        placeholder="Please input" />
    </el-form-item>
  </el-form>
</template>

<script>
export default {
  props: {
    balances: {
      type: Array,
      default() {
        return [];
      },
    },
  },
  data() {
    return {
      expenseForm: {
        accountId: '',
        categoryId: '',
        amount: 0,
        description: '',
      },
    };
  },
};
</script>
