<template>
  <el-tabs
    v-model="activeForm"
    type="card">
    <el-tab-pane
      :label="$t('component.entry-form.expense')"
      name="expense"><entry-expense-form /></el-tab-pane>
    <el-tab-pane
      :label="$t('component.entry-form.income')"
      name="income">Config</el-tab-pane>
    <el-tab-pane
      :label="$t('component.entry-form.transfer')"
      name="transfer">Role</el-tab-pane>
  </el-tabs>
</template>

<script>
import entryExpenseForm from '~/components/entry-expense-form';

export default {
  components: {
    entryExpenseForm,
  },
  data() {
    return {
      activeForm: 'expense',
    };
  },
};
</script>
